.container {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 44px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2px;
    position: relative;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
}